# MongoDB Atlas connection string
MONGODB_URI=mongodb+srv://username:password@cluster0.mongodb.net/myclick?retryWrites=true&w=majority

# JWT secret key for admin session cookies
JWT_SECRET=your_jwt_secret_key_here

# Initial Admin Password (can be updated later via Admin Dashboard)
ADMIN_PASSWORD=admin123
